.aside {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  color: #fff;
  background-color: #23415a;
  position: relative;
}

.aside--portrait {
  background-color: #23415a;   
  width: 20%;
}

.aside--portrait > img {
  width: 75%;
  height: 100%;
  border-radius: 50%;
  display: block; 
  margin-left: auto;
  margin-right: auto;
  padding: .5rem;
}

.aside > .content {
  width: 12rem;
  font-size: .75rem;
}

.aside > .content > .block {
  margin-bottom: 1rem;
}

.aside > .content > .block > .title {
  font-size: 1rem;
}

.aside > .content > .block > div > hr {
  height: .05rem;
  margin: 0;
  margin-top: .25rem;
  background-color: #fff;
}